body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 350px;
  text-align: center;
  background-image: linear-gradient(to bottom, #f12d93 25%, #fff 25%);
  padding: 20px 0;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.container .image {
  max-width: 130px;
  margin: 0 auto;
}

.container .image img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 2px 0 #f12d93;
}

.container .info h2 {
  margin: 7px 0;
  font-weight: 600;
  font-size: 23px;
}
.container .info h3 {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 16px;
}

.container .icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .icons i {
  font-size: 22px;
  padding: 0 13px;
}

.container .buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container .buttons button {
  background-color: #f12d93;
  border: none;
  padding: 10px 22px;
  font-size: 15px;
  border-radius: 20px;
}

.container .numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .numbers .n {
  padding: 0 24px;
}
.container .numbers .n:not(:first-child) {
  border-left: 2px solid #cdcdcd;
}
